@using BookLibrary.Entities;
@model BookLibrary.Models.Users.EditVM;

@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "EDIT USER";
}

<section id="edit-page" class="edit">
    <form id="edit-form" action="/User/Edit" method="post">
        <fieldset>
            @Html.HiddenFor(user => user.Id)
            <legend>Edit User</legend>
            <p class="field">
                <label for="Username">Username</label>
                <span class="input" value="@Model.Username">
                    @Html.TextBoxFor(user => user.Username)
                </span>
            </p>
            <p class="field">
                <label for="password">Password</label>
                <span class="input" value="@Model.Password">
                    @Html.TextBoxFor(user => user.Password)
                </span>
            </p>
            <p class="field">
                <label for="Firstname">Firstname</label>
                <span class="input" value="@Model.Firstname">
                    @Html.TextBoxFor(user => user.Firstname, new {@readonly ="readonly" })
                </span>
            </p>
            <p class="field">
                <label for="Lastname">Lastname</label>
                <span class="input" value="@Model.LastName">
                    @Html.TextBoxFor(user => user.LastName, new {@readonly ="readonly" })
                </span>
            </p>
            <p class="field">
                <label for="TypeUser">Type of User</label>
                <span class="input">
                    <select name="TypeOfUser">
                        @foreach (var type in Model.types)
                        {
                            <option value="@type">
                                @type
                            </option>
                        }
                    </select>
                </span>
            </p>
            <input class="button submit" type="submit" value="Save">
        </fieldset>
    </form>
</section>